@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #b02f00;
  --color-primary-container: #ff5722;
  --color-on-primary-container: #541200;
  --color-secondary: #006a60;
  --color-secondary-container: #85f6e5;
  --color-background: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-high: #e8e8e8;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #5b4039;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: var(--color-background);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
